
a {color:black; font-weight: bolder}
body{font-family: 'Raleway', sans-serif;}
h2 {font-weight:400; font-size: 290%; text-align:inherit;}
h3 {font-weight:400; font-size: 290%; text-align: center;}



/* NAVBAR */

.navbar {font-weight:lighter; padding-left: 15%; padding-right: 6%}
.dropdown-item {color:black;}
.collapse {padding-right: 11%;}

/* WEB SITE TITLE */

.display-4 {padding: 29% 26% 20% 29%; font-weight:400; letter-spacing:17px;}

/* WEB SITE DESCRIPTION */

.description{background-color: #f4dada; padding: 0; margin: 2% 15% 16%; border-style: solid;}
.sumary {padding: 9% 20% 9% 15%; font-family: 'Open Sans', sans-serif; font-weight:100; color:#8f8f8f; text-align:justify; ; margin: 0; font-size: 1.5rem}


/* EDUCATION */


.blockquote {background-color: #f4dada; margin:0; padding-top: 33%; padding-bottom: 33%; color:black;}
.code {text-align: right; padding-right: 5%}


/* SKILLS */

.card-text{color:#8f8f8f; font-family: 'Open Sans', sans-serif}
.skills {padding: 7% 15%; text-align: center;}


/* WORK */

.work {background-color:#f4dada; margin-top: 12%; padding: 1% 20% 1% 5%; text-align: justify;}
.npaw, .teleperformance, .arvato {margin: 10px; height: 100px; margin-left : 200px; margin-right: 10px;}


/* HOBBIES */

.myhobbies {padding: 8% 0;}
.carousel-inner {padding: 8% 18% 12%; text-align: left; }


/* FOOTER */
.footer{background-color:#f4dada; text-align: center; padding: 7% 0 1%;}
.btnContact{background-color:white;
display:inline-block;
cursor:pointer;
padding:9px 23px;
margin-top: 10px;
margin-bottom:100px}
.btnContact:hover{background-color:#59ead2;}
